{% extends 'parents/base.html' %}
{% block content %}
{% load static %}
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
              <div class="page-title">
                <h1>Hello,
                  <span>Welcome Here</span>
                </h1>
              </div>
            </div>
          </div>
          <!-- /# column -->
          <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
              <div class="page-title">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Profile</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /# column -->
        </div>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="user-profile">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="user-photo m-b-30">
                          <img class="img-fluid" src="{% static 'parents/assets/images/user-profile.jpg' %}" alt="" />
                        </div>
                        <div class="user-work">
                          <h4>work</h4>
                          <p>Business Man</p>
                          <div class="work-content">
                            <h3>Guardian </h3>
                            <p>Ligal</p>
                          </div>
                          <div class="work-content">
                            <h3>Relation</h3>
                            <p>Father</p>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-lg-8">
                        <div class="user-profile-name">{{ user.parents.name }}</div>
                        <div class="user-Location">
                          <i class="ti-location-pin"></i> Dhaka, Bangladesh</div>
                        <div class="user-job-title">{{ user.parents.profession }}</div>
                        
                        <div class="custom-tab user-profile-tab">
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#1" aria-controls="1" role="tab" data-toggle="tab">About</a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="1">
                              <div class="contact-information">
                                <h4>Contact information</h4>
                                <div class="phone-content">
                                  <span class="contact-title">Phone:</span>
                                  <span class="phone-number">+8801629599859</span>
                                </div>
                                <div class="address-content">
                                  <span class="contact-title">Address:</span>
                                  <span class="mail-address">123, Kollynpur, South Paikpara</span>
                                </div>
                                <div class="email-content">
                                  <span class="contact-title">Email:</span>
                                  <span class="contact-email">anowar@gmail.com</span>
                                </div>
                                <div class="skype-content">
                                  <span class="contact-title">Facebook:</span>
                                  <span class="contact-skype">Anowar Hossain</span>
                                </div>
                              </div>
                              <div class="basic-information">
                                <h4>Basic information</h4>
                                <div class="birthday-content">
                                  <span class="contact-title">Birthday:</span>
                                  <span class="birth-date">January 31, 1990 </span>
                                </div>
                                <div class="gender-content">
                                  <span class="contact-title">Gender:</span>
                                  <span class="gender">Male</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /# row -->
          
          <div class="row">
            <div class="col-lg-12">
              <div class="footer">
                 <p>2019 ~ Department of software engineering. - <a href="#">DIU</a></p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock content %}