{% extends 'parents/base.html' %}
{% block content %}
    <div class="container">
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <medium class="text-muted">{{ object.date_post|date:"F d, Y" }}</medium>
        </div>
        <h2 class="article-title">{{ object.subject }}</h2>
        <h4 class="article-content">{{ object.content }}</h4>
        </div>
    </article>
    </div>
{% endblock content %}